[submodule "Ext/libcppqt"]
	path = Ext/libcppqt
	url = https://github.com/donpillou/libcppqt.git
[submodule "Ext/mare"]
	path = Ext/mare
	url = https://github.com/craflin/mare.git
[submodule "Ext/qt"]
	path = Ext/qt
	url = http://code.qt.io/qt/qt.git
[submodule "Ext/QTabFramework"]
	path = Ext/QTabFramework
	url = https://github.com/craflin/QTabFramework.git
